fastapi
uvicorn
sqlalchemy
psycopg2-binary
faiss-cpu
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-groq
python-dotenv
pika
numpy
black
isort
flake8
redis
pytest
pytest-mock
httpx